body {
  display: grid;
  grid-template-columns: 200px 3fr 200px;
  grid-template-rows: 100px 528px 50px;
  margin: auto;
  background-color: rgba(0, 74, 94, 0.123);
  padding: 7px;
  gap: 10px;
  /* color: #000000; */
}
/* the title */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: honeydew;
  justify-content: center;
}

.howTO {
  position: absolute;
  top: 22px;
  right: 40px;
  width: 120px;
  padding: 8px 12px;
  border: 2px outset #000000;
  border-radius: 11px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: background-color 0.4s ease;
}

/* the middle holes area */
.main {
  padding: 10px 250px;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: honeydew;
}

/* the hearts area */
.sideBarLeft {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: honeydew;
}
/* score and reset button area */
.sideBarRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: honeydew;
}
/* the lower area */
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: honeydew;
}
/* hearts images */
.heart {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
  display: block;
}
/* the holes */
.box {
  background-color: rgb(86, 60, 45);
  height: 150px;
  width: 150px;
  border-radius: 20em;
  place-items: center;
  position: relative;
  border: 5px inset rgb(86, 51, 28);
}
/* to cen ter the mole img inside the circle*/
.box img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

/* exclusive for the reset button*/
.Reset {
  width: 120px;
  padding: 8px 12px;
  margin: 10px auto;
  background-color: #4caf50;
  color: white;
  border: 3px outset #000000;
  border-radius: 11px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
/* exclusive for the reset button*/
.Reset:hover {
  background-color: #ac3e3e;
}
.diff {
  width: 120px;
  padding: 8px 12px;
  text-align: center;
  margin: 10px 20px;
  font-weight: bold;
  background-color: #eaeaea;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: 2px solid black;
}

.howTO:hover {
  cursor: url('questionmark.png'), auto;
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.5);
  transition: 0.5s ease;
}
#Easy:hover {
  cursor: url('face_happy.png'), auto;
  background-color: hsla(117, 100%, 50%, 0.7);
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.5);
  transition: 0.5s ease;
}
#Medium:hover {
  cursor: url('neutral-face.png'), auto;
  background-color: hsla(23, 100%, 50%, 0.7);
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.5);
  transition: 0.5s ease;
}
#Hard:hover {
  cursor: url('face_sad.png'), auto;
  background-color: hsla(0, 100%, 50%, 0.7);
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.5);
  transition: 0.5s ease;
}

.moleImg {
  height: 165px;
  width: 165px;
  border-radius: 20em;
  place-items: center;
  position: relative;
}
